<div class="main-panel">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="d-flex align-content-around flex-wrap">
        <div class="mr-auto p-2">
          <div class="col">Records : {{ records }}</div>
          <div class="col">Shown : {{ shown }}</div>
        </div>
        <div class="p-2 order-3">
            <button mat-raised-button color="primary" (click)="onGetData()">Get data</button>
        </div>
        <div class="p-2 order-2">
            <button mat-raised-button color="primary" (click)="onClearFilters()">Clear filters</button>
        </div>
        <div class="p-2 order-1">
            <button mat-raised-button color="primary" (click)="onToExcel()">To Excel</button>
        </div>
      </div>
    </div>
  </div>
</div>
