<div class="filter-dropdown">
  <div class="filter-header">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="search...">
      </mat-form-field>
    </form>
  </div>
  <div class="filter-body">
    <mat-checkbox class="example-margin">
      select all
    </mat-checkbox>
    <mat-checkbox class="example-margin">
        select all
      </mat-checkbox>
      <mat-checkbox class="example-margin">
          select all
        </mat-checkbox>
        <mat-checkbox class="example-margin">
            select all
          </mat-checkbox>
  </div>
  <div class="filter-footer">
    <div class="d-flex">
      <div class="ml-auto">
          <button mat-stroked-button color="primary">Apply</button>
      </div>
    </div>
  </div>
</div>