.filter-dropdown {
    position: absolute;
    width: 222px;
    max-height: 278px;
    border-radius: 2px;
    border: 1px solid #BDC3C7;
    background-color: #fff;
    overflow-y: auto;
}

/* dropdown menu*/
.filter-header {
    padding: 0 5px;
    border-bottom: 1px solid #BDC3C7;
}

.filter-body {
    margin-top: 5px;
    font-weight: 500;
}

.filter-footer {
    border-top: 1px solid #BDC3C7;
    padding: 5px 5px;
    margin-top: auto;
}

.example-form {
    min-width: 150px;
    max-width: 222px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

mat-form-field {
    max-height: 50px;
}

.example-margin {
    margin: 5px 10px;
    display: block;
}