<div class="filter-dropdown">
  <div class="filter-header">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="searchFilters" [ngModelOptions]="{standalone: true}" placeholder="search...">
      </mat-form-field>
    </form>
  </div>
  <div class="filter-body">
    <mat-checkbox (click)="onselectAll()" class="example-margin">
      select all
    </mat-checkbox>
    <ng-container *ngFor="let checkbox of checkboxData.values | filterSearch:searchFilters; let i = index">
      <mat-checkbox (change)="onselectOne(i, checkbox)"
        [(ngModel)] = "checkbox.checked"
        class="example-margin">
          {{ checkbox.name }}
      </mat-checkbox>
    </ng-container>
  </div>
  <div class="filter-footer">
    <div class="d-flex">
      <div class="ml-auto">
          <button (click)="onApplyClick()" mat-stroked-button color="primary">Apply</button>
      </div>
    </div>
  </div>
</div>