<mat-dialog-content>
  <div class="card">
    <div class="card-header">
      {{ description }}
    </div>

    <div class="card-body">
      <mat-form-field>
        <mat-select placeholder="select sheet" [(value)]="selected">
          <mat-option *ngFor="let sheetName of sheetNames" [value]="sheetName">
            {{ sheetName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="card-footer text-muted">
      Filename: {{ filename }}
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="d-flex w-100">
    <div class="ml-auto p-2">
      <button mat-raised-button color="primary" (click)="close()">Close</button>
    </div>
  </div>
</mat-dialog-actions>