<table class="table table responsive">
  <thead>
    <tr>
      <th *ngFor="let columnDef of columnDefs; let i = index">
        {{ columnDef.headerName }}
        <a class="mr-1">
          <i class="fas fa-align-justify" appScaleFilter (toggle)="toggle($event, i)"></i>
          <div *ngIf="dropdownState[i]" class="test">
            <div class="filter-header">
                <input type="text" placeholder="search...">
            </div>
          </div>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rowData">
      <td>{{ row.make }}</td>
      <td>{{ row.model }}</td>
      <td>{{ row.price }}</td>
    </tr>
  </tbody>
</table>