<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="medium"
  color="#fff"
  type="timer"
  >
  <p style="font-size: 20px; color: white">Please wait...</p>
</ngx-spinner>

<table class="table table-sm">
  <thead>
    <tr>
      <th *ngFor="let column of thArray; let i = index" [ngClass]="{ 'sticky-pos': isStickyPos, 'rel-pos': !isStickyPos }">
        <div class="d-flex header-container">
          <div class="mr-auto">
              <p>{{ column.name }}</p>
          </div>
          <!--TODO: define classes to these elements-->
          <div style="margin-left: 40px;">
              <span>
                  <a class="">
                      <i class="fas fa-align-justify" appScaleFilter (click)="toggle($event, i)"></i>
                      <app-filter *ngIf="column.opened"
                        [checkboxData]="column"
                        [filterArray]="filtersArray.sFields[i].values"
                        (applyFilters)="onApplyClick($event)"
                        (closeWindow)="closeWindow($event, i)">
                      </app-filter>
                    </a>
              </span>
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of trArray">
      <td *ngFor="let element of row.values">
        <div style="max-height: 20px">
           <input type="text" value="{{ element }}" [style.width.px]="((element.length + 1) * 8) + 20">
           <!--TODO: apply this code - "((element.length + 1) * 8) + 20" in directive -->
        </div>
      </td>
    </tr>
  </tbody>
</table>