<table class="table table responsive">
  <!-- <ng-container *ngFor="let document of documents; let i = index"> -->
    <thead>
      <tr>
        <th *ngFor="let document of documents">
          {{ document.name }}
          <a class="mr-1">
            <i class="fas fa-align-justify" appScaleFilter (toggle)="toggle($event, i)"></i>
            <!-- <app-filter></app-filter> -->
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let document of documents">
      <tr *ngFor="let value of document.values">
        <td>{{ value }}</td>
      </tr>
    </ng-container>
    </tbody>
  <!-- </ng-container> -->
</table>