table th {
    padding: 10px 10px;
    background-color: white; 
} 

.sticky-pos {
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 2px solid black; 
}

.rel-pos {
    position: relative; 
}

table thead tr a {
    float: right;
    width: 16px;
}

table thead tr a i:hover {
    cursor: pointer;
    opacity: 0.8;
}

table thead tr th,
table tbody tr td {
    white-space: nowrap;
    min-width: 1%;
}

table thead tr th:not(:last-child),
table tbody tr td:not(:last-child) {
    border-right: 1px solid #dee2e6;
    vertical-align: middle !important; /* TODO: fix this property and th, td height */
    padding: 10px 10px;
}

/* table tbody tr td:nth-child(1) {
    position: sticky;
    top: 30px;
    left: 0;
    background: #fff;
    text-align: center;
} */

.header-container {
    max-height: 25px;
}

input {
    display: block !important; 
	padding: 0 !important; 
	margin: 0 !important; 
	border: 0 !important; 
	border-radius: 0 !important; 
	white-space: nowrap;
}

input[type="text"]:disabled {
    background: #fff;
    color: rgb(0, 0, 0);
}