<div class="main-container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="d-flex align-content-around flex-wrap">
        <div class="d-flex mr-auto p-2">
          <div class="d-inline">
            <div class="col">Loaded : 0</div>
            <div class="col">Filtered : 0</div>
          </div>
          <div class="d-inline">
            <div class="col">Warnings : 0</div>
            <div class="col">Errors : 0</div>
          </div>
        </div>
        <div class="p-2 order-1">
          <button mat-raised-button color="primary" (click)="clearFiltersClick()">Clear Filters</button>
        </div>
        <div class="p-2 order-2">
          <button mat-raised-button color="primary">Remove All</button>
        </div>
        <div class="p-2 order-3">
            <button mat-raised-button color="primary">To Database</button>
        </div>
        <div class="p-2 order-4">
            <div class="upload-btn-wrapper">
              <button mat-raised-button color="primary">Upload Excel</button>
              <input #fileImportInput type="file" name="myfile" (change)="fileChangeListener($event)" accept=".xlsx"/>  
            </div>
        </div>
      </div>
    </div>
  </div>
</div>