<!-- <div style="height: 100%; background-color: green"></div> -->

<div class="filesystem-container">
    <div class="excel-file-container">
        <app-file-table
            [excelData]="trArray"
            [headerData]="thArray"
            [filterData]="filterArray"
        ></app-file-table>
    </div>
    <div class="excel-file-panel-container">
        <app-file-panel
            (changeFileData)="excelDataChange($event)"
            (changeHeaderData)="excelHeadersChange($event)"
        ></app-file-panel>
    </div>
</div>